---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>WIP</h1>
			<p>
				I've come to terms with finally giving my website a bit of time and love. Things are under construction at the moment - check back soon!
			</p>
		</main>
		<Footer />
	</body>
</html>
