---
import { FaGithubAlt } from "react-icons/fa6";
import { PiMailboxBold } from "react-icons/pi";
import { GrInstagram } from "react-icons/gr";
import { SiBuymeacoffee } from "react-icons/si";

import { COMMIT_HASH } from '../consts';

const today = new Date();
---

<footer class="py-10">
	&copy; {today.getFullYear()} Mahmoud. All rights reserved.
	<div class="social-links mt-4">
		<a
			href="mailto:&#x66;&#x61;&#x6E;&#x73;&#x40;&#x73;&#x61;&#x6B;&#x72;&#x2E;&#x6D;&#x65;"
			target="_blank"
			title="Email is encoded. Clicking this link might not work. Copy email to send an email">
			<span class="sr-only">Email me</span>
			<PiMailboxBold />
		</a>
		<a href="https://www.instagram.com/kamasheto/" target="_blank">
			<span class="sr-only">Find me on Instagram</span>
			<GrInstagram />
		</a>
		<a href="https://github.com/kamasheto" target="_blank">
			<span class="sr-only">Find me on Github</span>
			<FaGithubAlt />
		</a>
		<a href="https://buymeacoffee.com/kamasheto" target="_blank">
			<span class="sr-only">Buy me a pizza</span>
			<SiBuymeacoffee />
		</a>
	</div>
	<div class="mt-4 text-gray-200 text-xs">{COMMIT_HASH}</div>
</footer>
<style>
	footer {
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
